body {
    background-color: #0a0a0a;
}

/*Barra de Navegacion*/

.nav {
    background-color: #302a2a;
    padding: 20px;

}

.nav__li {
    display: inline-block;

}

.nav__li a {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    padding: 16px;
    color: #ffffff;
    text-decoration: none;
}

.nav__li a:hover {
    color: #bbb;

}

/*Página principal*/

.titulo__bienvenida {
    color: #ffffff;
    align-items: center;
    display: flexbox;
    text-align: center;
    padding: 20px;
    margin: 20px auto;

}

.titulo__bienvenida h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

@keyframes animate__backInDown {
    

}

.animate__animated.animate__backInDown {
    animation-delay: 1s;
    animation-duration: 3s;
}

.logo__bienvenida {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;


}

.logo__bienvenida-img {
    width: 400px;
    height: 400px;
}

.reseñas {
    margin-top: 60px;
    margin-bottom: 40px;
    justify-items: center;
    align-items: center;
    display: flexbox;
    text-align: center;
}

.reseñas h2 {

    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.img__carousel {

    justify-content: center;
    justify-items: center;
    display: flexbox;
}

/*Página Menú*/
.nuestra__carta {
    padding: 20px;

}

.nuestra__carta h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.felx__conteiner-menu {
    display: flex;
    padding: 30px;
    margin: auto;

}


/*Página Nosotros*/
.sobre__nosotros {
    padding: 20px;
}

.sobre__nosotros h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.sobre__nosotros-conteiner {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.grid__item {

}

.grid__item-img {

}

.quienes__somos h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: #ffffff;

}

.sobre__nosotros-texto {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #ffffff;
}




/*Página Vauchers*/
.vauchers h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
}

.vauchers__conteiner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.vauchers {
    padding: 20px;
    margin: 20px;
    overflow: hidden;
}



.vaucher__tarjeta {
    width: 400px;
    height: 500px;
    transition: 0.5s;
    object-fit: cover;

}

.vaucher__tarjeta:hover {
    transform: scale(1.5);
}

.vaucher__texto {
    color: #ffffff;

}


/*Página Contacto*/

.contacto {
    padding: 20px;

}

.contacto h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.subtitulo {
    padding: 20px;
    margin-left: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.subtitulo h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
    color: #ffffff;
    font-weight: lighter;
}

.conteiner__formulario {
    margin-left: 40px;
    margin-top: 50px;
}

.datos__contacto p {
    color: #ffffff;

    margin-left: 40px;
}

.formulario__contacto {

    color: #ffffff;
}

.horarios__contacto {

    color: #ffffff;
}

.map__responsive {

    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;

}

.map__responsive iframe {

    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;

}

/*pie de pagina*/
.footer__conteiner {
    display: flex;
    background-color: #302a2a;
    position: relative;
    padding: 10px;
    margin: auto;

}

.footer__logo {
    margin-top: 20px;
    padding: 10px;

}

.footer__logo img {
    width: 50px;
    display: block;
    margin-left: auto;

}

.footer__table {

    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    align-items: center;
    font-size: 15px;
    color: #ffffff;
}

.footer__table tr th {
    text-decoration: underline;
}

.copyright {
    padding: 10px;
    font-size: 10px;
    text-align: right;
    color: #ffffff;

}