body {
    background-color: black;
}

/*Barra de Navegacion*/

.nav {
    background-color: black;
    padding: 20px;

}

.nav__li {
    display: inline-block;

}

.nav__li a {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    padding: 16px;
    color: #fff;
    text-decoration: none;
}

.nav__li a:hover {
    color: #bbb;

}

/*Página principal*/



.titulo__bienvenida {
    color: white;
    align-items: center;
    display: flexbox;
    text-align: center;
    padding: 20px;
    margin: 20px auto;

}

.titulo__bienvenida h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.logo__bienvenida {
    display: flex;

}


.logo__bienvenida-img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    display: inline-block;
    justify-items: center;
    text-align: center;
}

.reseñas {

    justify-items: center;
    align-items: center;
    display: flexbox;
    text-align: center;
}

.reseñas h2 {
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.img__carousel {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    justify-items: center;
    display: flexbox;
}


/*Titulos Pages*/
.titulo__pages {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}



/*Página Menú*/
.nuestra__carta {
    padding: 20px;

}

.nuestra__carta h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.felx__conteiner-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 

    padding: 40px;
    margin: 40px;

    background-color: beige;

}

.flex__item-menu {
    margin: 40px;
}



/*Página Nosotros*/
.sobre__nosotros {
    padding: 20px;
}

.sobre__nosotros h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.sobre__nosotros-sub {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: white;
}


.text__nosotros {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: white;
}





/*Página Vauchers*/
.vauchers {
    padding: 20px;
}

.vauchers h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.vaucher__tarjeta {
    width: 500px;
    height: 600px;

}

.vaucher__texto {
    color: white;

}






/*Página Contacto*/

.contacto {
    padding: 20px;
    
}

.contacto h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.subtitulo {
    padding: 20px;
    margin-left: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.subtitulo h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
    color: #fff;
    font-weight: lighter;
}

.conteiner__formulario {
    margin-left: 40px;
    margin-top: 50px;
}





.datos__contacto p {
    color: white;
    
    margin-left: 40px;
}

.formulario__contacto {

    color: white;
}

.horarios__contacto {

    color: white;
}

.map__responsive {

    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;

}

.map__responsive iframe {

    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;

}




/*pie de pagina*/
.footer {
    background-color: black;
    position: relative;
    padding: 20px;
    margin: auto;
}

.footer__logo {
    margin-top: 20px;
    width: 10px;
    padding: 10px;

}

.footer__logo img {
    width: 50px;

}

.footer__table {

    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    align-items: center;
    font-size: 15px;
    color: white;
}

.copyright {
    padding: 10px;
    font-size: 10px;
    text-align: right;
    color: white;

}